/* Color Theme Swatches in Hex */
.color-theme_Screenshot_20220820-200535_Chrome-1-hex { color: #592E42; }
.color-theme_Screenshot_20220820-200535_Chrome-2-hex { color: #F2B366; }
.color-theme_Screenshot_20220820-200535_Chrome-3-hex { color: #D98841; }
.color-theme_Screenshot_20220820-200535_Chrome-4-hex { color: #F2E4D8; }
.color-theme_Screenshot_20220820-200535_Chrome-5-hex { color: #BF665E; }

/* Color Theme Swatches in RGBA */
.color-theme_Screenshot_20220820-200535_Chrome-1-rgba { color: #ddab46; }
.color-theme_Screenshot_20220820-200535_Chrome-2-rgba { color: #c4811c; }
.color-theme_Screenshot_20220820-200535_Chrome-3-rgba { color: #875a28; }
.color-theme_Screenshot_20220820-200535_Chrome-4-rgba { color: #483420; }
.color-theme_Screenshot_20220820-200535_Chrome-5-rgba { color: #2c2c2a; }

/* Color Theme Swatches in HSLA */
.color-theme_Screenshot_20220820-200535_Chrome-1-hsla { color: hsla(332, 31, 26, 1); }
.color-theme_Screenshot_20220820-200535_Chrome-2-hsla { color: hsla(33, 84, 67, 1); }
.color-theme_Screenshot_20220820-200535_Chrome-3-hsla { color: hsla(28, 66, 55, 1); }
.color-theme_Screenshot_20220820-200535_Chrome-4-hsla { color: hsla(27, 49, 89, 1); }
.color-theme_Screenshot_20220820-200535_Chrome-5-hsla { color: hsla(4, 43, 55, 1); }
